main {
  .portfolio-container {
    .portfolio-content {
      width: 100%;
      margin: 0;
    }
  }
}
.portfolio-content-wrapper{
  margin: 2em;
}

.portfolio-header {
  position: relative;
  color: white;
  .img-wrapper {
    position: relative;
    img {
      width: 100%;
      height: auto;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 31;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  .title-wrapper {
    z-index: 32;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0px;
    width: 100%;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title {
    color: white;
    font-size: 1.7em;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background: none;
  }
  .tags {
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: center;
    font-weight: 300;
    margin: 0 0 10px;
  }
  .link-wrapper {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}
.portfolio-body {
  margin: 2em 0;
}
@media only screen and (min-width: 768px) {
  .portfolio-header {
    .title {
      color: white;
      font-size: 2.3em;
    }
  }
}
