main .portfolio-container .portfolio-content {
  width: 100%;
  margin: 0; }

.portfolio-content-wrapper {
  margin: 2em; }

.portfolio-header {
  position: relative;
  color: white; }
  .portfolio-header .img-wrapper {
    position: relative; }
    .portfolio-header .img-wrapper img {
      width: 100%;
      height: auto; }
    .portfolio-header .img-wrapper:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 31;
      background-color: rgba(0, 0, 0, 0.5); }
  .portfolio-header .title-wrapper {
    z-index: 32;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0px;
    width: 100%;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .portfolio-header .title {
    color: white;
    font-size: 1.7em;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background: none; }
  .portfolio-header .tags {
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: center;
    font-weight: 300;
    margin: 0 0 10px; }
  .portfolio-header .link-wrapper {
    margin: 0;
    padding: 0;
    text-align: center; }

.portfolio-body {
  margin: 2em 0; }

@media only screen and (min-width: 768px) {
  .portfolio-header .title {
    color: white;
    font-size: 2.3em; } }
