.logo-container .navbutton {
  display: none; }

.logo-container .logo-wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 3px; }
  .logo-container .logo-wrapper .logo-img {
    display: none;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 0px; }
    .logo-container .logo-wrapper .logo-img img {
      display: block;
      max-width: 100%;
      height: auto; }
  .logo-container .logo-wrapper span {
    font-size: 1.5625em;
    font-weight: bold;
    font-family: "Montserrat", sans-serif; }

@media only screen and (min-width: 260px) {
  .logo-container .logo-wrapper .logo-img {
    display: block; } }

@media only screen and (min-width: 768px) {
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #0a0c11;
    box-shadow: 0px 1px 0px 0px #3e414b; }
    .logo-container .navbutton {
      display: block; }
    .logo-container .logo-wrapper {
      position: relative;
      left: auto;
      top: auto;
      margin: 30px 15px; }
      .logo-container .logo-wrapper .logo-img {
        width: 90px;
        height: 90px; } }
