main {
  position: relative;
  height: 100%;
  margin: 0;
  transition: all 0.15s ease-in-out;
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.7em;
    color: #0164ec;
  }
  h3 {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7;
  }
  p {
    font-size: 1em;
    line-height: 1.7;
    text-align: justify;
  }
  img {
    max-width: 100%;
    height: auto;
  }

  .container {
    width: 100%;
    max-width: 1400px;
    display: block;

    .col {
      width: 100%;
      margin: 0;
    }
  }
}

@media only screen and (min-width: 576px) {
  main {
    h1 {
      font-size: 2em;
    }
    h3 {
      font-size: 1.2em;
    }
    p {
      font-size: 1.2em;
    }
  }
}

@media only screen and (min-width: 768px) {
  main {
    position: relative;
    height: 100%;
    margin-left: 55px;

    h1 {
      font-size: 2.4em;
    }
    h3 {
      font-size: 1.45em;
    }
    p {
      font-size: 1.3em;
    }
    .container {
      height: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: row;

      .col {
        width: 35%;
        margin: 60px 30px;
      }
    }
  }
  .nav-open main {
    margin-left: 185px;
  }
}
