@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}
.main-container {
  .about-container {
    padding: 2em;
    h1 {
      background: -webkit-linear-gradient(#0164ec, #0471ec);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .col-21 {
      width: 100%;
    }
  }
}
.about-content-wrapper {
  margin-bottom: 2em;
}
.tag-cloud {
  margin: 0;
  span {
    font-family: "Montserrat", sans-serif;
    animation: blinker 3s linear infinite;
    margin: 0.4em 0.6em 0 0;
    padding: 3px 5px;
    font-size: 0.8em;
    text-transform: uppercase;
    display: inline-block;
    color: #595959;
  }
}
.about-social-wrapper {
  .social-links {
    margin: 0px;
    padding: 0px;
    li {
      margin: 0px;
      padding: 0px;
      list-style: none;
      display: inline-block;
      a {
        font-size: 1.1em;
        color: #0164ec;
        display: block;
        margin-right: 10px;
        &:hover{
          color: #0471ec;
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) {
  .tag-cloud {
    span {
      font-size: 1em;
    }
  }
}

@media only screen and (min-width: 768px) {
  .main-container {
    .about-container {
      .col-21 {
        width: 45%;
      }
    }
  }
  .about-content-wrapper {
    margin-bottom: 60px;
  }
  .tag-cloud {
    margin-top: 70px;
    margin-bottom: 60px;
    span {
      font-size: 1.2em;
      margin: 10px;
      padding: 5px 10px;
    }
  }
}
