.modal-wrapper {
  position: fixed;
  z-index: 23;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 2em;

  .modal-container {
    margin: 0 auto;
    padding: 0 0 2em;
    width: 100%;
    max-width: 940px;
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.5);
    background: white;
    position: relative;

    .x-button {
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      height: 40px;
      border: none;
      background: none;
      color: white;
      margin: 5px 10px 0 0;
      padding: 0;
      font-size: 1.4em;
      transition: opacity 0.15s ease-in-out;
      z-index: 39;
      &:hover {
        opacity: 0.9;
      }
    }

    .modal-header {
      position: relative;
      color: white;
      .img-wrapper {
        min-height: 200px;
        background: #fafafa;
        display: flex;
        align-items: center;
        position: relative;
        img {
          width: 100%;
          height: auto;
        }

        &:after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 31;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
      .title-wrapper {
        z-index: 32;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0px;
        right: 0px;
        width: 100%;
        padding: 0 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .title {
        color: white;
        font-size: 1.7em;
        margin: 0;
        margin-bottom: 10px;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        background: none;
      }
      .tags {
        text-transform: uppercase;
        font-size: 0.8em;
        text-align: center;
        font-weight: 300;
        margin: 0 0 10px;
      }
      .link-wrapper {
        margin: 0;
        padding: 0;
        text-align: center;
      }
    }

    .modal-body {
      margin: 2em;
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .modal-wrapper {
    .modal-container {
      .x-button {
        font-size: 1.6em;
      }

      .modal-header {
        .title {
          color: white;
          font-size: 2.3em;
        }
      }
    }
  }
}
