.home-container {
  .canvas {
    display: none;
  }
  .home-wrapper {
    display: block;
    .home {
      margin: 2em;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media only screen and (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) {
  .home-container {
    height: 100%;
    position: relative;
    .canvas {
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 1;
      div {
        position: absolute;
      }
    }
    .home-wrapper {
      position: relative;
      z-index: 2;
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .home {
        max-width: 630px;
        margin: 30px;
        h1 {
          background: -webkit-linear-gradient(#0164ec, #0471ec);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
// Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px) {
  
}

// Extra large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
  
}
