.home-container {
  height: 100%;
  position: relative; }
  .home-container .canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1; }
    .home-container .canvas div {
      position: absolute; }
  .home-container .home-wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .home-container .home-wrapper .home {
      max-width: 630px; }
