.navigation {
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 185px;
  li {
    margin: 0px;
    a {
      display: block;
      padding: 15px 0;
      border-bottom: 1px solid #0a0c11;
      box-shadow: 0px 1px 0px 0px #3e414b;

      &.active{
        color: white;
        background-color: #037cec;
        border-color: #037cec;
      }
      strong {
        display: inline-block;
        width: 55px;
        text-align: center;
        font-size: 1.6em;
      }
      span {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        display: inline-block;
        margin: 0 15px;
        font-size: 1.2em;
        visibility: hidden;
      }

      &:hover {
        color: white;
      }
    }
  }
}
.nav-open {
  .navigation {
    span {
      visibility: visible;
    }
  }
}
